<!DOCTYPE html>
<html lang="en">
<head>
    {%  load static %}
  <link rel="icon" type="image/png"  href="{% static 'img/favicon.png' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cercanos</title>
</head>
<body>
	<h1>Cominiquese a la brevedad con los siguientes contactos</h1>

    <p>Bienvenido</p>

    {% for cercano in cercanos %}
    <p>{{cercano}}</p>  
    <a href="https://api.whatsapp.com/send?phone={{tel_cercano}}&text=Hola,%20usted%20estuvo%20en%20contacto%20con%20un%20COVID-19">Enviar Mensaje</a>
    <hr>
    {% endfor %}



    <style>
    	body{
    		text-align: center;
    	}
    </style>
</body>
</html>