<!DOCTYPE html>
<html lang="en">
<head>
    {%  load static %}
  <link rel="icon" type="image/png"  href="{% static 'img/favicon.png' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cercanos</title>
</head>
<body>
	<h1>Cominiquese a la brevedad con los siguientes contactos</h1>



    {% for cercano in cercanos %}
    <p>{{cercano}}</p>
    {% endfor %}



    <style>
    	body{
    		text-align: center;
    	}
    </style>
</body>
</html>