<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'index' %}">Protocolapp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" 
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Consejos Covid
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Cuidados generales</a>
          <a class="dropdown-item" href="https://www.argentina.gob.ar/salud/coronavirus-COVID-19?utm_source=search&utm_medium=cpc&utm_campaign=coronavirus&utm_term=grants&utm_content=nacional&gclid=EAIaIQobChMIlrOE39WO7AIVjIKRCh3thAE2EAAYASAAEgJPmfD_BwE">Todo lo que necesitas saber</a>
          <div class="dropdown-divider"></div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="{% url 'logout' %}">Cerrar Sesión</a>
      </li>
    </ul>
    </form>
  </div>
</nav>

    <h1>Avisos para: {{request.negocio.nombre_local}}</h1>
    <h1>Avisos para: {{request.user.username}}</h1>
    {% for resultado in resultados %}
        <a href="{% url 'cercanos' resultado.id %}">{{resultado}}</a>
    {% endfor %}
    {% if user.is_authenticated %}

    <hr>
    {{negocio.nombre_local}}

    <hr>
    {% endif %}


    <a href="{% url 'alertar' %}">Soy Positivo</a>
    <a href="{% url 'regnegocio' %}">Registrar Local</a>
    




    <style>
      body,
      html{
        margin: 0;
      padding: 0;
      height: 90%;

      }

      #footer {
        text-align: center;
      background-color: #05060e;
      position: absolute;
      display: inline-block;
      bottom: 0;
      width: 100%;
      height: 40px;
      color: white;
    }
    h1{
      text-align: center;
    }
    </style>




<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<div id="footer">
    <footer>
        <p>Informatorio Chaco 2020</p>
    </footer>
</div>

</body>
</html>

<!--<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Avisos para: {{request.user.username}}</h1>
    
    <hr>
    {% for resultado in resultados %}
        <a href="{% url 'cercanos' resultado.id %}">{{resultado}}</a>
        <br>
    {% endfor %}
    {% if user.is_authenticated %}
    <hr>
    {% endif %}
 <li><a href=”#”>Inicio</a></li>
 <li><a href=”#”>Sobre nosotros</a></li>
 <li><a href=”#”>Acerca del Covid-19</a></li>
 <li><a href=”#”>Cuidados</a></li>
 </ul>
 <h1></h1>

    <a href="{% url 'alertar' %}">Soy Positivo</a>
    <br>
    <a href="{% url 'regnegocio' %}">Registrar Local</a>
    <br>
    <a href="{% url 'verQR' %}">verQR</a>
</body>
</html>
-->
