<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver QR</title>
    <style>
        h1{
            text-align: center;
        }
        img{
            im

        }
        form{
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Protocolapp</h1>
    {% load static %}
    <div align="center">
        <img src={% static "img/visita.png" %}>
    </div>
    <h2>Negocio: {{negocio}}</h2>
    <form action="">
    <input type="button" name="imprimir" value="Imprimir" onclick="window.print();">
    </form>
</body>
</html>